<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .loader{
            width: 100px;
            height: 100px;
            background:white;
            border: 10px solid gray;
            border-top: 10px solid blue;
            border-bottom: 10px solid blue;
            border-radius: 50%;
            animation: spin 2s linear infinite;
        }
        @keyframes spin{
            0%{transform:rotate(0deg)}
            100%{transform:rotate(180deg)}
        }
        </style>
</head>
<body>
    <div class="loader"></div>

</body>
</html>